body {
    margin: 1rem;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    margin: auto;
    width: 600px;
}

body > div, body > p {
    margin: 1rem auto;
    width: 600px;
}

p {
    line-height: 140%
}

.panel {
    margin: 1em auto;
    width: 600px
}

select {
    font-size: 1em;
}

button {
    margin: 0 0.5rem;
    width: 7rem;
    font-size: 1em;
}

li {
    margin-bottom: 0.5em;
}

hr {
    width: 600px;
}

iframe {
    margin: 1rem auto;
    display: block;
}